.WeatherIcon {
  animation: float 3s ease-in-out infinite;
}
.WeatherIcon.large {
  width: 90px;
  height: 90px;
}

.WeatherIcon.small {
  width: 40px;
  height: 40px;
}

/* Animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}